/* HEADER */
header {
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

header img {
    width: 12.5rem;
}
.ph-infos h2 {
    color: #D3573C;
    font-size: 2.4em;
    font-weight: 400;
    margin: 0;
    margin-bottom: 0px;
}

.ph-city {
    color: #901c1c;
    font-size: .9em;
    margin: 0;
        margin-bottom: 0px;
}
.ph-tagline {
    color: #525252;
    font-size: 15px;
    margin-bottom: 1rem;
}


.ph-profil {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  #ph-profil-header {
    width: -moz-available;
  }
  
  .ph-profil button {
    background: #901c1c;
    border: none;
    border-radius: 5px;
    bottom: 28px;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
    height: 69px;
    /* position: fixed; */
    width: 170px;
  }
  .ph-profil button:hover {
    background: #651414;
    transform: scale(1.05);
  }
  .ph-profil img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
  }

  .sort-btn {
    align-items: center;
    background: #901c1c;
    border: none;
    border-radius: 5px;
    color: #fff;
    display: flex;
    font-size: 1rem;
    font-weight: 500;
    justify-content: space-between;
    left: 11rem;
    padding: .625rem 1.25rem;
    /* position: absolute; */
    top: 25.6rem;
    width: 10rem;
}






.hidden-sort {
    display: none; /*pour cacher le menu déroulant par défaut*/
   }
/* .sort-btn {
    align-items: center;
    background: #901c1c;
    border: none;
    border-radius: 5px;
    color: #fff;
    display: flex;
    font-size: 1rem;
    font-weight: 500;
    justify-content: space-between;
    left: 11rem;
    padding: .625rem 1.25rem;
    position: absolute;
    top: 25.6rem;
    width: 10rem;
} */

#ph-works {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2.8125rem 0;
    padding: 0 1.25rem;
}
.ph-work-elt img, .ph-work-elt video {
    border-radius: .3125rem;
    height: 11.875rem;
    object-fit: cover;
    width: 20.9375rem;
}
.ph-work-elt .ph-work-title {
	width: 14.0625rem;
}
.ph-work-elt-text {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 0;
}
.ph-work-elt {
    color: #901c1c;
    font-size: 1.1em;
    font-weight: 500;
}
.ph-work-elt {
    color: #901c1c;
    font-size: 1.1em;
    font-weight: 500;
}

.ph-work-title {
	font-size: 1em;
	font-weight: 400;
}


#box {
	align-items: center;
	background: #db8876;
	border-radius: .3125rem;
	bottom: 0;
	display: flex;
	font-size: 1.2em;
	font-weight: 500;
	height: 4.375rem;
	justify-content: space-between;
	padding: 0 2.1875rem;
	position: fixed;
	right: 2.5rem;
	width: 18rem;
}
#box .fa-heart {
	left: 4.8rem;
	position: absolute;
}
.fa, .fas {
    font-weight: 900;
}
.fa, .far, .fas {
	font-family: "Font Awesome 5 Free";
}
.fa, .fab, .fad, .fal, .far, .fas {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
}

.works-sort {
    display: flex;
    margin-left: 2rem;
    margin-top: 2rem;
    align-items: center;
    justify-content: space-between;
    width: 300px;
}







@media (min-width: 900px) {
    header {
        margin-left: 2rem;
    }
    
}

@media (min-width: 1200px){

    .ph-profil {
        margin: 0 20px;
    }
    .ph-profil button {
        height: 55px;
        left: 42rem;
        position: absolute;
        top: 15rem;
    }
}

@media  (min-width: 900px){
    .ph-profil {
        background: #fafafa;
        padding: 2rem;
    }
}
    

